
.layout{
  width : 100%;
}
.wheel{
  width: 100%;
  max-width: 500px;
  margin:0 auto;
}
.wheel canvas{
  width: 450px !important;
  height: 450px !important;
  margin-top: -30px;
}
h1,h3 {
  text-align: center;  
}
p {
  text-align: center;
  font-size: 17px;
  font-weight: 650;
}
  .button-group {
  text-align: center;
}
.button-class {
  background: white !important;
  width: 50px;
  height: 50px;
  pointer-events: none;
  color: #333;
  border: #333 solid 1px;
  border-radius: 50%;
  margin: 0 5px;
  pointer-events: stroke;
  font-weight: 600;
  background: #f4f4f4 !important;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.19);
-webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.19);
-moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.19);
line-height: 10px;
}
.button-class.btn-primary{
  color: #333 !important;
}
.button-class:active, .button-class:focus, .button-class:hover{
  color: #333 !important;
}
/* .button-class svg{
  width: 50px;
  
} */

.btn:focus {
  box-shadow: none !important;
}
.btn:hover {
  box-shadow: none !important;
}
h3.wheel-score{
  font-size: 1.5rem;
  margin-top: 10px;
}
.responsive-canvas{
  width: 500px;
  height: 500px;
  object-fit: contain ;
}
.error-class{
  color: red;
  font-size: 20px;
}

h1.wheel-score{
  font-size: 2rem;
  margin-top: 10px;
} 
.h-35px{
  height: 35px;
}
.h-35px p{
  margin-bottom: 0;
}
@media only screen and (max-width: 500px) {
  .wheel canvas{
    width: 300px !important;
    height: 300px !important;
    margin-left: 20px;
    margin-top: -30px;
  }
  .button-class{
    width: 45px;
    height: 45px;
  }
  .button-class svg{
    width: 40px;
  }
  h1.wheel-score, h3.wheel-score{
    font-size: 1.5rem;

  }
}
@media only screen and (max-width: 400px) {
  .wheel canvas{
    width: 225px !important;
    height: 225px !important;
    margin-top: -30px;
    margin-left: 15%;
  }
  h1.wheel-score, h3.wheel-score{
    font-size: 1.1rem;
  }
  .button-class{
    width: 40px;
    height: 40px;
    padding: 0;
  }
  /* .button-class svg{
    width: 35px;
    height: 35px;
  } */
}
.MuiSvgIcon-root {
  color: white;
}


  
  
  