.col {
  overflow : hidden;
  text-align: center;
}
.main-class{
height: calc(100% - 60px);
}
.cursor{ 
width: 20px;
height: 20px;
background: transparent;
position: absolute;
top: 25%;
left: 25%;
border-radius:50%;
}
.footer{
  text-align: center;
  color: #fff;
  padding: 15px 0 15px 0px;
  background: rgba(53,159,254,1);
  width: 100%;
  bottom: 0;
  position: fixed;
  font-size: 18px;
  font-weight: bold;
  z-index: 20;
  margin-top: -1%;

}
.modal-content{
  border: 3px solid #0000eb;
  position: static;
  width: 600px;
  left : 300px;  
}
.btn-primary {
  background: none;
  color: #007bff;
  border:   none;
  
}
.start-button {
  color: white !important;
  background: #007bff !important;
  border:   none;    
}
.mt-80 {
  margin-top: -80px;
}
.btn-outline-secondary {
  background: none;
  color: #007bff;
  border:   none;
}  
.modal-title{
  border: none;
}
.modal-header{
border-bottom: none;
height: 30px;
}
.modal-footer {
  border-top: none;
}
.modal-body {
  height: 40px;
}
.heading{
	text-align: center;
  background: rgba(53,159,254,1);
  padding: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.home-link{
	position: absolute;
	right: 0;
}
.back-link{
	position: absolute;
	left: 10px;
  color: white;
  padding-top: 15px;  
}

.error-class{
  color: red;
  font-size: 20px;
  font-weight: bold;
  top: 20px;
  position: relative;
}

@media only screen and (max-width: 450px) {
  
  .start-button {
    margin-left: 8px;
  }
  .p5Canvas{
    width: 100% !important;
    height: auto !important;
  }
  .footer{
    bottom: 50px;
  }
  
}

@media only screen and (min-width: 1000px) {
  .modal-content{
    margin-left: 20%;
   }    
}
