body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.countdown-timer__text{
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 14px;
  min-height: 25px;
}
.modal-header{border-bottom: 0;}
.modal-footer{border-top: 0;}
.modal-body{padding: 0 1rem; font-size: 15px;}
